@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animated {
  width: 200%;
  animation: marquee 20s linear infinite;
  top: 50%;
  transform: translate(0, -50%);
}

.html {
  animation: html 2s;
}

.css {
  animation: css 3s;
}

.next {
  animation: next 2s;
}

.node {
  animation: node 3s;
}

.ruby {
  animation: ruby 3s;
}

@keyframes ruby {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes next {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.big {
  transform: translate(-50%, -50%);
}

.points {
  transform: rotate(calc(var(--i) * 120deg)) translateY(-45px);
}
